.dark-mode{
    background-color: darken($grisOscuro,10);
    transition: background-color 1s ease-out;

    p {
        color: $blanco;
    }
    a, h1, h2, h3, h4{
        color: $gris;
    }

    .anuncio{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
    }
    .resumen-propiedad, .anuncio{
        .icono{
            filter: invert(100%);
        } 
        .precio{
            color: $verde;
        }
    }

    .formulario{
        legend, label, p{
            color: $gris;
        } 

        input:not([type="submit"]), textarea, select{
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }
    }

body{
background-color: $blanco;
transition: background-color 1s ease-out;
}
