.contenido-nosotros{
    @include tablet{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $separacion/2;
    }
    p, h3{
        margin: 0;
    }
    h3{
        font-weight: $regular;
    }
}
    .titulo-bold{
        font-weight: $bold;
    }
